@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #101010;
    --cor-primaria: #121212;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-rodape: #00d0ffe0;
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 15% 0 15%;
}

.cabecalho__menu {
    display: flex;
    /* justify-content: space-around; para quando tiver mais itens */
    flex-wrap: wrap;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 45px;
}

.apresentacao__conteudo {
    width: 55%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);
    font-size: 2rem;
    line-height: 3rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--font-secundaria);
    font-size: 1.2rem;
    line-height: 2rem;
}

.apresetnacao__conteudo__img-e-botoes {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
}

.apresentacao__conteudo__img {
    width: 70%;
    /* height: 40%; */
    /* align-self: baseline; */
}

.apresentacao__links__desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__mobile {
    display: none;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: 100%;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    font-size: 1.2rem;
    padding: 14px 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
}

.apresentacao__links__botao:hover {
    background-color: #272727;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-rodape);
    padding: 24px;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.rodape__texto {
    font-size: 1rem;
}

.rodape__link {
    color: var(--cor-primaria);
    font-weight: 600;
}

@media (max-width:1200px) {
    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }
    
    .apresentacao__conteudo__img {
        align-self: center;
        width: 50%;
    }
    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    .apresentacao__links__mobile {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .apresentacao__links__botao__mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: var(--cor-secundaria);
        width: 30%;
        border: 2px solid var(--cor-terciaria);
        text-align: center;
        font-size: 1.2rem;
        padding: 14px 0;
        text-decoration: none;
        font-family: var(--font-secundaria);
        font-weight: 600;
        border-radius: 8px;
        transition: 0.3s;
    }
    
    .apresentacao__links__desktop {
        display: none;
    }

    .apresentacao__links__subtitulo {
        font-size: 1rem;
    }

    .apresentacao__links__botao {
        padding: 14px 32px;
    }

    .rodape {
        margin-top: 8%;
    }

    .rodape__texto {
        font-size: 1rem;
    }
}

@media (max-width:700px) {
    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }

    .apresentacao__links__botao__mobile {
        width: 60%;
    }

}
