@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #121212;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    column-gap: 58px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
    line-height: 3.5rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-family: var(--font-secundaria);
    font-size: 1.6rem;
    line-height: 2.25rem;
}

.apresentacao__conteudo__img {
    width: 50%;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
}

.apresentacao__links__botao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: 60%;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    padding: 16px 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
}

.apresentacao__links__botao:hover {
    /* background-color: #007a96; */
    background-color: #272727;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.rodape__link {
    /* text-decoration: none; */
    color: var(--cor-primaria);
    font-weight: 600;
}